doctype html
html
    head
        title=title
        script(src='../scripts/echarts/echarts.min.js')
        script(src='../scripts/echarts/line-charts.js')
    body
        div(id='container' style='min-width:310px; height:400px; margin:0 auto')